*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: #000000;
    color: #ffffff;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);

}

.btn{
    padding: 0.5rem 1.5rem;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #929292;
    color: #ffffff;
}

.navbar img{
    width: 8%;
}

.card{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    color: #000000
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.card-body{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card-body img{
    width: 50%;
    margin-bottom: 1rem;
}

.cards-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.loader{
    margin: 10vh;
}